* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    margin: 0;
}

.header {
    position: relative;
    height: 500px;
}

/*Navigation*/
.page-navigation {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 40px;
    z-index: 1;
}

.page-navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.page-navigation li {
    margin-right: 20px;
    color: white;
    font-weight: bold;
}

.page-navigation a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.page-navigation a:hover {
    color: black;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

/*jumbo*/
.jumbo {
    text-align: center;
    background-color: rgb(181, 176, 176);
    width: 60%;
    margin: 0 auto;
}

.jumbo-title{
    margin-top: 10px;
    padding-top: 20px;
    font-family: Trebuchet MS, sans-serif;
}

.jumbo-title, .jumbo-description {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 8px;
}

/*CARDS*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    width: 300px; /* Змініть ширину за потребою */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.cards-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.cards-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cards-description {
    color: #666;
}

.cards-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}

.cards-button a {
    color: inherit;
    text-decoration: none;
}

.cards-button:hover {
    background-color: #2980b9;
}

/*Tabs*/
.wrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.content{
    padding: 50px 0;
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 60px;
}
.tabs{
    margin: 0px 0px 50px 0px;
}
.tabs_items{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.tabs__item{
    flex: 0 1 25%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    margin-bottom: 10px;
}

.tabs__item:hover {
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
}

.tabs__item span{
    position: relative;
    z-index: 2;
}

/*.tabs_body{}*/

.tabs_block {
    position: relative;
    padding: 20px; 
    font-size: 16px;
    line-height: 1.5;
    display: none;
    margin-top: 20px;
}

.tabs_block::before{
    content: "";
    height: 50px;
    width: 25%;
    position: absolute;
    top: -50px;
}

.tabs_block:target {
    display: block;
}


.tabs_block:nth-child(1){
    background-color: #036280;
}
.tabs_block:nth-child(1)::before{
    background-color: #036280;
    left: 0;
}


.tabs_block:nth-child(2){
    background-color: #217074;
}
.tabs_block:nth-child(2)::before{
    background-color: #217074;
    left: 25%;
}


.tabs_block:nth-child(3){
    background-color: #036280;
}
.tabs_block:nth-child(3)::before{
    background-color: #036280;
    left: 50%;
}


.tabs_block:nth-child(4){
    background-color: #217074;
}
.tabs_block:nth-child(4)::before{
    background-color: #217074;
    right: 0;
}


.tabs_block:target{
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #E7EAEF;
}

tr:nth-child(odd) {
    background-color: #717171;
}

.text{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 24px;
}

/*Footer*/
/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-left p {
    margin: 0;
}

.footer-right a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}

@media (max-width: 600px){
    .tabs__item span{
        display: block;
        width: 100px;
        padding: 0px 5px;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        font-size: 10px;
        text-overflow: ellipsis;
    }
}

@media (max-width: 768px) {
    .tabs_block {
        font-size: 14px;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .jumbo {
        width: 90%;
    }

    .card {
        width: 100%;
    }

    .tabs_items {
        flex-wrap: wrap;
    }

    .tabs__item {
        flex: 0 1 50%;
    }
}
